# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

# get the response and cook the soup
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")
soup

In [ ]:
people_tags = soup.find_all('h1', {"class": "h3 lh-condensed"})
people_tags

In [ ]:
tag = ['h1','p']
people = [tag.a.text.replace('\n',' ').strip() for tag in people_tags]
people

In [54]:
people_nicknames = soup.find_all('p', {"class": "f4"})

In [55]:
people_nick = [tag.text.replace('\n',' ').strip() for tag in people_nicknames][1:]
people_nick

#tag=["h1","p"]
#text = [element.text.replace('\n',' ').strip() for element in soup.find_all(tag)]
#listofnames=[text[i]+" (@"+text[i+1]+")" for i in range(2,30)]
#listofnames

[]

In [ ]:
trend_devops = [people[i] + '(' + people_nick[i] + ')' for i in range(len(people))]

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [ ]:
#your code

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [20]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [23]:
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [22]:
# find all repositories under h1 tag and additional class
repos_tags = soup.find_all('h1', {"class": "h3 lh-condensed"})

# get the text of the child of each element in list
repos_users = [tag.span.text.strip()[:-2] for tag in repos_tags]
repos_names = [tag.a.text.replace('\n', '').split('/')[-1].strip() for tag in repos_tags]

repos = list(zip(repos_users, repos_names))
repos

[('Eilonh', 's3crets_scanner'),
 ('geohot', 'tinygrad'),
 ('NVIDIA', 'DeepLearningExamples'),
 ('open-mmlab', 'mmdeploy'),
 ('hiroi-sora', 'Umi-OCR'),
 ('WZMIAOMIAO', 'deep-learning-for-image-processing'),
 ('facebookresearch', 'esm'),
 ('PaddlePaddle', 'PaddleSeg'),
 ('Sanster', 'lama-cleaner'),
 ('facebookresearch', 'detectron2'),
 ('MatrixTM', 'MHDDoS'),
 ('PaddlePaddle', 'PaddleHub'),
 ('open-mmlab', 'mmdetection'),
 ('open-mmlab', 'mmclassification'),
 ('huggingface', 'accelerate'),
 ('PaddlePaddle', 'PaddleClas'),
 ('tianqiraf', 'DouZero_For_HappyDouDiZhu'),
 ('pyg-team', 'pytorch_geometric'),
 ('commaai', 'openpilot'),
 ('magicleap', 'SuperGluePretrainedNetwork'),
 ('open-mmlab', 'mmsegmentation'),
 ('AUTOMATIC1111', 'stable-diffusion-webui'),
 ('UKPLab', 'sentence-transformers'),
 ('pytorch', 'examples'),
 ('QIN2DIM', 'hcaptcha-challenger')]

#### Display all the image links from Walt Disney wikipedia page

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")
# find all repositories under img tag
find_main_page = soup.find_all('img')

# get the link
images = [tag.get('src') for tag in find_main_page]
images

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [3]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [4]:
#your code

#### Number of Titles that have changed in the United States Code since its last release point

In [35]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [36]:
main_page = soup.find_all('div', {'class':'usctitlechanged'})

titles = [tag.text.replace('٭', '').strip() for tag in main_page if "Title" in tag.text]
titles

['Title 17 - Copyrights',
 'Title 22 - Foreign Relations and Intercourse',
 "Title 38 - Veterans' Benefits",
 'Title 40 - Public Buildings, Property, and Works',
 'Title 41 - Public Contracts',
 'Title 42 - The Public Health and Welfare',
 'Title 44 - Public Printing and Documents',
 'Title 49 - Transportation',
 'Title 54 - National Park Service and Related Programs']

#### A Python list with the top ten FBI's Most Wanted names

In [37]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [38]:
wanted_names = soup.find_all('h3', {'class': 'title'})
most_wanted = [tag.a.text.replace('\n',' ').strip() for tag in wanted_names]
most_wanted

['ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'OMAR ALEXANDER CARDENAS',
 'ALEJANDRO ROSALES CASTILLO',
 'MICHAEL JAMES PRATT',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [39]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [56]:
earthquakes1  = soup.find_all('table')[3]

In [116]:
df4 = pd.DataFrame(pd.read_html(str(earthquakes1))[0])
df1 = df4.drop(labels=[50,51,52])
del df1['CitizenResponse']
df2 = df1.drop(df1.index[21:])

In [ ]:
df2

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [124]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [ ]:
#no me deja abrir el link

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [126]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [ ]:
soup

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [128]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [137]:
languages_tags = soup.find_all('div', {'class': 'central-featured-lang'})

languages = [tag.strong.text for tag in languages_tags]
articles = [tag.small.text.replace('\xa0', '.') for tag in languages_tags]
total = list(zip(languages, articles))
total

[('English', '6.458.000+ articles'),
 ('日本語', '1.314.000+ 記事'),
 ('Español', '1.755.000+ artículos'),
 ('Русский', '1.798.000+ статей'),
 ('Français', '2.400.000+ articles'),
 ('Deutsch', '2.667.000+ Artikel'),
 ('Italiano', '1.742.000+ voci'),
 ('中文', '1.256.000+ 条目 / 條目'),
 ('Português', '1.085.000+ artigos'),
 ('العربية', '1.159.000+ مقالة')]

#### A list with the different kind of datasets available in data.gov.uk

In [138]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [145]:
data_sets = soup.find_all('h3')
clean_data_sets = [tag.a.text for tag in data_sets]
clean_data_sets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [146]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [151]:
tabla1 = soup.find_all('table', {'class':'wikitable'})[0]
df1 = pd.DataFrame(pd.read_html(str(tabla1))[0])
df2 = df1.drop(df1.index[11:])
df2

,Language,Native speakers(millions),Language family,Branch
0,"Mandarin Chinese(incl. Standard Chinese, but e...",920.0,Sino-Tibetan,Sinitic
1,Spanish,475.0,Indo-European,Romance
2,English,373.0,Indo-European,Germanic
3,Hindi(excl. Urdu),344.0,Indo-European,Indo-Aryan
4,Bengali,234.0,Indo-European,Indo-Aryan
5,Portuguese,232.0,Indo-European,Romance
6,Russian,154.0,Indo-European,Balto-Slavic
7,Japanese,125.0,Japonic,Japanese
8,Yue Chinese(incl. Cantonese),85.2,Sino-Tibetan,Sinitic
9,Vietnamese,84.6,Austroasiatic,Vietic
10,Marathi,83.1,Indo-European,Indo-Aryan

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [152]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [174]:
table_data = soup.find_all('td')
title = [t.find('img')['alt'] for t in table_data if t.find('img')]
people = [t.a.get('title').replace(' (dir.)', '').split(', ') for t in table_data if (t.a and t.a.get('title'))]

directors = [x[0] for x in people]
Star = [x[1] for x in people]
year = [int(t.text[1:-1]) for t in soup.find_all('span', {'class':'secondaryInfo'})]


imdb = pd.DataFrame(list(zip(title, year, directors, Star)), columns= ['Title', 'Release', 'Director', 'Star'])

imdb

                        Title  Release              Director            Star
0    The Shawshank Redemption     1994        Frank Darabont     Tim Robbins
1               The Godfather     1972  Francis Ford Coppola   Marlon Brando
2             The Dark Knight     2008     Christopher Nolan  Christian Bale
3       The Godfather Part II     1974  Francis Ford Coppola       Al Pacino
4                12 Angry Men     1957          Sidney Lumet     Henry Fonda
..                        ...      ...                   ...             ...
245               Dersu Uzala     1975        Akira Kurosawa   Maksim Munzuk
246                  The Help     2011           Tate Taylor     Viola Davis
247                   Aladdin     1992          Ron Clements   Scott Weinger
248                    Gandhi     1982  Richard Attenborough    Ben Kingsley
249            The Iron Giant     1999             Brad Bird  Eli Marienthal

[250 rows x 4 columns]

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code